.common__section {
   background: linear-gradient(rgba(0,0,0,0.562), rgba(0,0,0,0.562),),
   url('../assets/plants/10.jpg');
   background-size: cover;
   height: 300px;
}

.common__section h1 {
   color: #fff;
   font-weight: 600;
}