/* .badge {
   position: absolute;
   top: 25%;
   right: -5px;
   width: 15px;
   height: 15px;
   content: "";
   background: var(--primary-color);
   color: #fff;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.7rem;
   font-weight: 600;
   z-index: 10;
} */

/* .cart_icon,fav_icon{
   position: relative;
}

.ri-heart-bag-line{
   
}

.ri-shopping-bag-line{

} */