@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Maitree',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Homemade Apple', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Maitree', serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


   
   @font-face {
     font-family: 'Maitree';
     src: url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
     font-style: normal;
     font-display: swap;
   }